<div class="row justify-content-center">
  <div class="col-md-8">
    <h2 class="text-md-center">Registrar organizador</h2>

    <div>
      <form name="form" (ngSubmit)="f.form.valid && registerOrganizer()" #f="ngForm" novalidate>
        <div class="form-row">
          <div class="col-md">
            <div class="form-group">
              <label for="firstName">Nombre de la organización</label>
              <input name="firstName" [(ngModel)]="organizer.name" type="text" id="firstName" class="form-control" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
              <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                <div *ngIf="firstName?.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="c_email">Correo electrónico de contacto</label>
          <input name="c_email" [(ngModel)]="organizer.contact_email" type="email" id="c_email" class="form-control" #c_email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && c_email.invalid }" required email>
          <div *ngIf="f.submitted && c_email.invalid" class="invalid-feedback">
            <div *ngIf="c_email?.errors.required">Campo requerido</div>
            <div *ngIf="c_email?.errors.email">Correo inválido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="c_name">Persona de contacto</label>
          <input name="c_name" [(ngModel)]="organizer.contact_name" type="text" id="c_name" class="form-control" #c_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && c_name.invalid }" required>
          <div *ngIf="f.submitted && c_name.invalid" class="invalid-feedback">
            <div *ngIf="c_name?.errors.required">Campo requerido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="username">Usuario</label>
          <input name="username" [(ngModel)]="organizer.username" type="text" id="username" class="form-control" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required>
          <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
            <div *ngIf="username?.errors.required">Campo requerido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input name="password" [(ngModel)]="organizer.password" type="password" id="password" class="form-control" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password?.errors.required">Campo requerido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="nit">NIT</label>
          <input name="nit" [(ngModel)]="organizer.nit" type="text" id="nit" class="form-control" #nit="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nit.invalid }" required>
          <div *ngIf="f.submitted && nit.invalid" class="invalid-feedback">
            <div *ngIf="nit?.errors.required">Campo requerido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Telefono</label>
          <input name="phone" [(ngModel)]="organizer.phone" type="text" id="phone" class="form-control" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required>
          <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
            <div *ngIf="phone?.errors.required">Campo requerido</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Registrar organizador</button>
      </form>
    </div>
  </div>
</div>
