<div class="row">
  <div class="col">
    <h1>Easy Ticket</h1>
  </div>
  <div *ngIf="userIsLogged()" class="col-md-auto align-self-center">
    <p class="user-first-name">{{user.first_name}}</p>
  </div>
  <div class="col-md-auto align-self-center">
    <div *ngIf="!userIsLogged()">
      <button type="button" class="btn btn-outline-primary" (click)="redirectToLogin()">Iniciar sesión</button>
    </div>
    <div *ngIf="userIsLogged()">
      <button type="button" class="btn btn-outline-danger" (click)="logout()">Cerrar sesión</button>
    </div>
  </div>
</div>
