h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 55px;
}

a {
  font-size: 15px;
}

.user-first-name {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
