<div class="row justify-content-center">
  <div class="col-10">
    <h5>¿Quiénes somos?</h5>
    <p class="text-justify">Con el objetivo de mejorar la experiencia del usuario al adquirir una boleta para un evento, surge la necesidad de crear un sistema de venta de boletería y control de acceso totalmente digital. En el cual no son necesarias las boletas físicas, sino que con ayuda de códigos de barras es posible identificar un tiquete adquirido por un usuario. Se plantea el uso del código PDF417, presente en los documentos de identidad co-lombianos, así como el código QR, para ser escaneados al momento de ingresar a un evento</p>
  </div>
</div>
