<div class="row justify-content-center">
  <div class="col-md-10">
    <div *ngIf="step==='init'">
      <div *ngIf="event" class="card shadow-sm">
        <div class="card-header event-title">{{event.name}}</div>
        <div class="card-body">
          <h3 class="card-title">Selecciona la cantidad de tiquetes</h3>
          <br>
          <div *ngIf="eventZones">
            <div class="row justify-content-center">
              <div class="col-md-2 offset-md-4 text-center">
                <p class="zone-information"><strong>Disponible</strong></p>
              </div>
              <div class="col-md-2 text-center">
                <p class="zone-information"><strong>Precio</strong></p>
              </div>
              <div class="col-md-2 text-center">
                <p class="zone-information"><strong>Cantidad</strong></p>
              </div>

            </div>
            <form #ticketQuantityForm="ngForm" (ngSubmit)="goToTicketDetail()">
              <div *ngFor="let zone of eventZones; let i = index">
                <div class="row justify-content-center py-2">
                  <div class="col-md-4 align-self-center">
                    <p class="zone-information">{{zone.name}}</p>
                  </div>
                  <div class="col-md-2 align-self-center">
                    <p class="zone-information">{{zone.event_seat.length}}</p>
                  </div>
                  <div class="col-md-2 align-self-center">
                    <p class="zone-information">{{zone.price | currency:'COP':'symbol-narrow'}}</p>
                  </div>
                  <div class="col-md-2 align-self-center">
                    <input type="number" [name]="zone.name" (change)="updateTotal()" [(ngModel)]="ticketAmountPerZone[i]" [id]="zone.name" min="0" step="1" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center mt-3">
                <div class="col-md-4">
                  <p class="total-price text-info"><strong>Total: </strong>{{totalPrice | currency:'COP':'symbol-narrow'}}</p>
                </div>
              </div>
              <hr>
              <button type="submit" class="btn btn-primary float-right" [disabled]="ticketCount===0">
                Continuar
                <i class="fa fa-arrow-right"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="step==='ticketDetail'">
      <div *ngIf="event" class="card shadow-sm">
        <div class="card-header event-title">{{event.name}}</div>
        <div class="card-body">
          <h3 class="card-title">Detalle de tiquetes</h3>
          <p>Ingresa el documento asociado a cada tiquete</p>
          <hr>
          <form #ticketDetailForm="ngForm" (ngSubmit)="goToPaymentInfo()" novalidate>
            <div *ngFor="let zone of eventZones; let i = index" >
              <div *ngIf="ticketAmountPerZone[i] > 0">
                <div *ngIf="zoneTickets.length > 0">
                  <div class="row">
                    <div class="col-md-auto offset-md-2">
                      <h5>{{zone.name}}</h5>
                    </div>
                  </div>
                  <div *ngFor="let ticket of zoneTickets[i]; let j = index" class="row justify-content-center my-1">
                    <div class="col-md-2 align-self-center">
                      <p class="zone-information">Silla #: {{zoneSeats[i][j].number}}</p>
                    </div>
                    <div class="col-md-5 align-self-center">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Documento</div>
                        </div>
                        <input class="form-control" type="text" [(ngModel)]="ticket.document_number" [name]="zoneSeats[i][j]" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="clearfix">
              <button class="btn btn-outline-dark" (click)="goToInit()">
                <i class="fa fa-arrow-left"></i>
                Regresar
              </button>
              <button type="submit" class="btn btn-primary float-right" [disabled]="ticketDetailForm.invalid">
                Continuar
                <i class="fa fa-arrow-right"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="step==='paymentInfo'">
      <div *ngIf="event" class="card shadow-sm">

        <div class="card-header event-title">{{event.name}}</div>
        <div class="card-body">
          <h3 class="card-title">Información de pago</h3>
          <br>
          <div *ngIf="eventZones">

            <div *ngIf="payUUrl">
              <script type="text/javascript" [src]="payUUrl"></script>
              <noscript>
                <iframe style="width: 100px; height: 100px; border: 0; position: absolute; top: -5000px;" [src]="payUUrl"></iframe>
              </noscript>
            </div>

            <form #paymentInformationForm="ngForm" (ngSubmit)="sendPayment()">
              <div class="row align-content-start ml-5">
                <div class="form-row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="cardNumber">Número de tarjeta</label>
                      <input name='cardNumber' [(ngModel)]="cardNumber" type="text" id="cardNumber" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="cvv">CVV</label>
                      <input name='cvv' [(ngModel)]="cvv" type="password" id="cvv" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="expirationDate">Expiración</label>
                      <input name='expirationDate' [(ngModel)]="expirationDate" placeholder="AAAA/MM" type="text" id="expirationDate" class="form-control" required>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="address">Dirección de facturación</label>
                      <input name='address' [(ngModel)]="address" type="text" id="address" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cardName">Nombre de la tarjeta</label>
                      <input name="cardName" [(ngModel)]="cardName" type="text" id="cardName" class="form-control" required>
                    </div>
                  </div>
                </div>

              </div>
              <hr>
              <button type="submit" class="btn btn-primary float-right" [disabled]="paymentInformationForm.invalid">
                Continuar
                <i class="fa fa-arrow-right"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pago enviado</h4>
    <button type="button" class="close" aria-label="Close" (click)="redirectToEventList()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>En unos momentos recibirás a tu correo el código QR de tu tiquete</p>
  </div>
  <div class="modal-footer clearfix">
    <button type="button" class="btn btn-outline-primary float-left" (click)="redirectToEventList()">Continuar</button>
  </div>
</ng-template>
