.event-title {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
}

.zone-information {
  font-size: large;
  vertical-align: center;
  display: table-cell;
  text-align: center;
}

.total-price {
  font-family: 'Open Sans', sans-serif;
  font-size: larger;
  text-align: center;
}
