<div class="row">
  <ul>
    <li><a routerLink="/events/list">Eventos</a>
    <li *ngIf="isClient()"><a routerLink="/tickets/list">Tiquetes</a>
    <li *ngIf="isGuest()"><a routerLink="/authentication/register-organizer">Organizadores</a>
    <li><a routerLink="/about">Sobre nosotros</a>
  </ul>
</div>
