<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid h-100">
  <div class="row justify-content-center">
    <div class="col-6">
      <app-header></app-header>
      <app-navbar></app-navbar>
      <br>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
