<div class="row justify-content-center">
  <div class="col-md-10 align-items-center">
    <div class="clearfix">
      <h3 class="d-inline-block">Eventos</h3>
      <div *ngIf="isOrganizer()" class="d-md-inline-block float-right">
        <button class="btn btn-info btn-sm" (click)="redirectToCreateEvent()">
          <i class="fa fa-plus"></i>
          Nuevo evento
        </button>
      </div>
    </div>

    <div *ngIf="events !== undefined && events.length === 0" class="text-secondary">
      No hay eventos registrados
    </div>
    <div *ngIf="events !== undefined && events.length > 0">
      <div *ngFor="let event of events; let i = index">
        <div class="card flex-md-row shadow-sm mb-4 h-md-250">
          <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" style="width: 200px; height: 200px;" [src]="images[i]" data-holder-rendered="true">
          <div class="card-body d-flex flex-column">
            <div class="clearfix">
              <strong class="d-inline-block mb-2 text-info">{{eventTypes[event.event_type]}}</strong>
              <div *ngIf="isOrganizer()" class="d-md-inline-block float-right">
                <button class="btn btn-outline-dark btn-sm mx-2" placement="bottom" ngbTooltip="Editar" (click)="redirectToEditEvent(event.id)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-outline-danger btn-sm" placement="bottom" ngbTooltip="Eliminar" (click)="openDeleteEventModal(content, event)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
            <h4 class="mb-0">
              <a class="text-dark" href="/events/detail/{{event.id}}">{{event.name}}</a>
            </h4>
            <div class="mb-1 text-muted">{{event.date | slice:0:-3}}</div>
            <p class="card-text mb-auto">{{(event.description | slice:0:150) + '...'}}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div *ngIf="disabledEvents !== undefined">
      <div *ngIf="disabledEvents.length > 0">
        <h3 class="d-inline-block">Eventos cancelados</h3>
        <div *ngFor="let event of disabledEvents; let i = index">
          <div class="card flex-md-row shadow-sm mb-4 h-md-250">
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" style="width: 200px; height: 200px;" [src]="images[i]" data-holder-rendered="true">
            <div class="card-body d-flex flex-column">
              <strong class="d-inline-block mb-2 text-info">{{eventTypes[event.event_type]}}</strong>
              <h4 class="mb-0">
                <a class="text-dark" href="/events/detail/{{event.id}}">{{event.name}}</a>
              </h4>
              <div class="mb-1 text-muted">{{event.date | slice:0:-3}}</div>
              <p class="card-text mb-auto">{{(event.description | slice:0:150) + '...'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar evento</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <p>¿Estás seguro de cancelar el evento <strong>{{selectedEvent.name}}</strong>?</p>
  </div>
  <div class="modal-footer clearfix">
    <button type="button" class="btn btn-outline-dark float-left" (click)="modal.dismiss('Cross click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="deleteEvent(selectedEvent.id) || modal.close('Save click')">Eliminar</button>
  </div>
</ng-template>
