<div class="row justify-content-center">
  <div class="col-md-8">
    <h2 class="text-md-center">Regístrate</h2>
    <p class="text-md-center">
      <a class="alternate-link" routerLink="/authentication/login">¿Ya tienes una cuenta?</a>
    </p>

    <div>
      <form name="form" (ngSubmit)="registerForm.form.valid && register()" #registerForm="ngForm" novalidate>
        <div class="form-row">
          <div class="col-md">
            <div class="form-group">
              <label for="firstName">Nombres</label>
              <input name="firstName" [(ngModel)]="client.first_name" type="text" id="firstName" class="form-control" #firstName="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && firstName.invalid }" required>
              <div *ngIf="registerForm.submitted && firstName.invalid" class="invalid-feedback">
                <div *ngIf="firstName?.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label for="lastName">Apellidos</label>
              <input name="lastName" [(ngModel)]="client.last_name" type="text" id="lastName" class="form-control" #lastName="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && lastName.invalid }" required>
              <div *ngIf="registerForm.submitted && lastName.invalid" class="invalid-feedback">
                <div *ngIf="lastName?.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input name="email" [(ngModel)]="client.email" type="email" id="email" class="form-control" #email="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && email.invalid }" required email>
          <div *ngIf="registerForm.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email?.errors.required">Campo requerido</div>
            <div *ngIf="email?.errors.email">Correo inválido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="username">Usuario</label>
          <input name="username" [(ngModel)]="client.username" type="text" id="username" class="form-control" #username="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && username.invalid }" required>
          <div *ngIf="registerForm.submitted && username.invalid" class="invalid-feedback">
            <div *ngIf="username?.errors.required">Campo requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <input name="password" [(ngModel)]="client.password" type="password" id="password" class="form-control" #password="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && password.invalid }" required>
          <div *ngIf="registerForm.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password?.errors.required">Campo requerido</div>
          </div>
        </div>

        <label>Documento</label>
        <div class="form-row">
          <div class="col-md-auto">
            <div class="form-group">
              <select name="document_type" [(ngModel)]="client.document_type" id="document_type" class="form-control custom-select" #documentType="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && documentType.invalid && documentType.value == ''}" required>
                <option *ngFor="let type of document_types" [value]="type.code" >{{type.value}}</option>
              </select>
              <div *ngIf="registerForm.submitted && documentType.invalid" class="invalid-feedback">
                <div *ngIf="documentType?.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <input name="document_number" [(ngModel)]="client.document_number" type="text" id="document_number" placeholder="Número" class="form-control" #documentNumber="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && documentNumber.invalid }" required>
              <div *ngIf="registerForm.submitted && documentNumber.invalid" class="invalid-feedback">
                <div *ngIf="documentNumber?.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="birthdate">Fecha de nacimiento</label>
          <input name="birthdate" [(ngModel)]="client.birthdate" type="text" id="birthdate" placeholder="DD/MM/AAAA" class="form-control" pattern="^(([1-9])|([0-2][0-9])|((3)[0-1]))(\/)(([1-9])|((0)[1-9])|((1)[0-2]))(\/)\d{4}$" #birthdate="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && birthdate.invalid }" required>
          <div *ngIf="registerForm.submitted && birthdate.invalid" class="invalid-feedback">
            <div *ngIf="birthdate?.errors.required">Campo requerido</div>
            <div *ngIf="birthdate?.errors.pattern">Fecha inválida</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Registrarse</button>
      </form>
    </div>
  </div>
</div>
