<div class="row justify-content-center">
  <div class="col-md-10">
    <h2 class="text-md-center">Editar evento</h2>
    <div>
      <form name="form" (ngSubmit)="f.form.valid && editEvent()" #f="ngForm" novalidate>
        <div class="form-row">
          <div class="col-md">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input name="name" [(ngModel)]="event.name" type="text" id="name" class="form-control" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="form-group">
              <label for="date">Fecha</label>
              <div class="input-group">
                <input class="form-control" placeholder="DD/MM/AAAA"
                       name="date" [(ngModel)]="eventDate" ngbDatepicker #d="ngbDatepicker" id="date" required>
                <div class="input-group-append">
                  <!--<button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>-->
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="form-group">
              <label for="time">Hora</label>
              <div class="input-group">
                <ngb-timepicker name="time" [(ngModel)]="eventTime" [meridian]="meridian" [spinners]="false" id="time"></ngb-timepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-auto">
            <div class="form-group">
              <label class="invisible" for="type">'</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Tipo</span>
                </div>
                <select name="type" [(ngModel)]="event.event_type" id="type" class="form-control custom-select" #type="ngModel" [ngClass]="{ 'is-invalid': f.submitted && type.invalid && type.value == ''}" required>
                  <option *ngFor="let type of event_types" [value]="type.id" >{{type.name}}</option>
                </select>
                <div *ngIf="f.submitted && type.invalid" class="invalid-feedback">
                  <div *ngIf="type.errors.required">Campo requerido</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Ubicación</span>
                </div>
                <select name="location" [(ngModel)]="event.location" id="location" class="form-control custom-select" #location="ngModel" [ngClass]="{ 'is-invalid': f.submitted && location.invalid && location.value == ''}" required>
                  <option *ngFor="let location of locations" [value]="location.id" >{{location.name}}</option>
                </select>
                <div *ngIf="f.submitted && location.invalid" class="invalid-feedback">
                  <div *ngIf="location.errors.required">Campo requerido</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Duración</span>
                </div>
                <input name="duration" [(ngModel)]="event.duration" type="number" id="duration" class="form-control" placeholder="Minutos" #duration="ngModel" [ngClass]="{ 'is-invalid': f.submitted && duration.invalid }" required>
                <div *ngIf="f.submitted && duration.invalid" class="invalid-feedback">
                  <div *ngIf="duration.errors.required">Campo requerido</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label for="description">Descripción</label>
              <textarea name="description" [(ngModel)]="event.description" type="text" rows="5" id="description" class="form-control" #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }"required></textarea>
              <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                <div *ngIf="description.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Editar</button>
      </form>
    </div>
  </div>
</div>
