<div class="row justify-content-center">
  <div class="col-md-7">
    <h2 class="text-md-center">Inicia Sesión</h2>
    <p class="text-md-center">
      <a class="alternate-link" routerLink="/authentication/register">¿Necesitas una cuenta?</a>
    </p>

    <div>
      <form name="form" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Usuario</label>
          <input name='username' [(ngModel)]="username" type="text" id="username" placeholder="Ingresa tu usuario" class="form-control" #usernameForm="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && usernameForm.invalid }" required>
          <div *ngIf="loginForm.submitted && usernameForm.invalid" class="invalid-feedback">
            <div *ngIf="usernameForm?.errors.required">Campo requerido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input name='password' [(ngModel)]="password" type="password" id="password" placeholder="Contraseña" class="form-control" #passwordForm="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && passwordForm.invalid }" required>
          <div *ngIf="loginForm.submitted && passwordForm.invalid" class="invalid-feedback">
            <div *ngIf="passwordForm?.errors.required">Campo requerido</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Iniciar sesión</button>
        <span *ngIf="error" class="text-danger">{{errorMessage}}</span>
      </form>
    </div>
  </div>
</div>
