.event-date {
  font-size: larger;
  color: #444444;
}

.location-information {
  color: #FF7400;
  font-size: large;
  font-weight: lighter;
  font-style: italic;
}

.event-description {
  text-align: justify;
  text-justify: inter-word;
}
