<div class="row">
  <div *ngIf="event" class="col-md">
    <h5 *ngIf="eventType"><strong class="d-inline-block mb-2 text-info">{{eventType.name}}</strong></h5>
    <hr>
    <h2>{{event.name}}</h2>
    <p class="event-date">{{event.date | readableDate}}</p>
    <p *ngIf="location" class="location-information">{{location.name}} | {{location.address}}</p>
    <br>
    <p class="event-description">{{event.description}}</p>
    <hr>
    <button *ngIf="isClient()" class="btn btn-primary" (click)="redirectToBuyTicket()">Comprar tiquete</button>
  </div>
  <div class="col-md-auto">
    <ngb-carousel *ngIf="images">
      <ng-template *ngFor="let image of images; let i = index" ngbSlide>
        <img [src]="images[i]" alt="Random first slide">
      </ng-template>
    </ngb-carousel>
  </div>
</div>
