<div class="row justify-content-center">
  <div class="col-md-10 align-items-center">
    <h3>Tus tiquetes</h3>
    <div *ngIf="tickets !== undefined && tickets.length === 0" class="text-secondary">
      Aún no tienes tiquetes
    </div>

    <div *ngIf="tickets !== undefined && tickets.length > 0">
      <div class="row">
        <div class="col-md-6">
          <div *ngFor="let ticket of firstColumn; let i = index">
            <div *ngIf="ticket.status != -1" [ngClass]="{'border-success': ticket.status == 1, 'border-danger': ticket.status == 3, 'border-info': ticket.status == 2}"
                 class="card flex-md-row shadow-sm mb-4">
              <div class="card-body d-flex flex-column">
                <div class="clearfix">
                  <h5 class="mb-0 d-inline">
                    <a class="text-dark" href="/events/detail/{{ticket.event_id}}">{{ticket.event_name}}</a>
                  </h5>
                  <div *ngIf="ticket.status === 1" class="d-md-inline-block float-right">
                    <button class="btn btn-outline-dark btn-sm mx-2" placement="bottom" ngbTooltip="Reenviar QR" (click)="openModal(content, ticket)">
                      <i class="fa fa-qrcode"></i>
                    </button>
                  </div>
                </div>
                <div class="mb-1 text-muted">Silla: {{ticket.seat_number}}</div>
                <div class="mb-1 text-muted">Documento: {{ticket.document_number}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div *ngFor="let ticket of secondColumn; let i = index">
            <div *ngIf="ticket.status != -1" [ngClass]="{'border-success': ticket.status == 1, 'border-danger': ticket.status == 3, 'border-info': ticket.status == 2}"
                 class="card flex-md-row shadow-sm mb-4">
              <div class="card-body d-flex flex-column">
                <div class="clearfix">
                  <h5 class="mb-0 d-inline">
                    <a class="text-dark" href="/events/detail/{{ticket.event_id}}">{{ticket.event_name}}</a>
                  </h5>
                  <div *ngIf="ticket.status === 1" class="d-md-inline-block float-right">
                    <button class="btn btn-outline-dark btn-sm mx-2" placement="bottom" ngbTooltip="Reenviar QR" (click)="openModal(content, ticket)">
                      <i class="fa fa-qrcode"></i>
                    </button>
                  </div>
                </div>
                <div class="mb-1 text-muted">Silla: {{ticket.seat_number}}</div>
                <div class="mb-1 text-muted">Documento: {{ticket.document_number}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">QR de tu tiquete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>En un momento te enviaremos el código a tu correo</p>
  </div>
</ng-template>
