<div class="row justify-content-center">
  <div class="col-md-12">
    <h2 class="text-md-center">Nuevo evento</h2>
    <div>
      <form name="form" (ngSubmit)="zonesForm.valid && eventCreateForm.form.valid && createEvent()" #eventCreateForm="ngForm" novalidate>
        <div class="form-row">
          <div class="col-md">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input name="name" [(ngModel)]="event.name" type="text" id="name" class="form-control" #name="ngModel" [ngClass]="{ 'is-invalid': eventCreateForm.submitted && name.invalid }" required>
              <div *ngIf="eventCreateForm.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name?.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="form-group">
              <label for="date">Fecha</label>
              <div class="input-group">
                <input class="form-control" placeholder="DD/MM/AAAA"
                       name="date" [(ngModel)]="eventDate" ngbDatepicker #d="ngbDatepicker" id="date" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="form-group">
              <label for="time">Hora</label>
              <div class="input-group">
                <ngb-timepicker name="time" [(ngModel)]="eventTime" [meridian]="meridian" [spinners]="false" id="time" #time="ngModel"></ngb-timepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-auto">
            <div class="form-group">
              <label class="invisible" for="type">'</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Tipo</span>
                </div>
                <select name="type" [(ngModel)]="event.event_type" id="type" class="form-control custom-select" #type="ngModel" [ngClass]="{ 'is-invalid': eventCreateForm.submitted && type.invalid && type.pristine}" required>
                  <option *ngFor="let type of event_types" [value]="type.id" >{{type.name}}</option>
                </select>
                <div *ngIf="eventCreateForm.submitted && type.invalid" class="invalid-feedback">
                  <div *ngIf="type?.errors.required">Campo requerido</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Ubicación</span>
                </div>
                <select name="location" [(ngModel)]="event.location" id="location" class="form-control custom-select" #location="ngModel" [ngClass]="{ 'is-invalid': eventCreateForm.submitted && location.invalid && location.pristine}" required>
                  <option *ngFor="let location of locations" [value]="location.id" >{{location.name}}</option>
                </select>
                <div *ngIf="eventCreateForm.submitted && location.invalid" class="invalid-feedback">
                  <div *ngIf="location?.errors.required">Campo requerido</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Duración</span>
                </div>
                <input name="duration" [(ngModel)]="event.duration" type="number" min="1" step="1" id="duration" class="form-control" placeholder="Minutos" #duration="ngModel" [ngClass]="{ 'is-invalid': eventCreateForm.submitted && duration.invalid }" required>
                <div *ngIf="eventCreateForm.submitted && duration.invalid" class="invalid-feedback">
                  <div *ngIf="duration?.errors.required">Campo requerido</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label for="description">Descripción</label>
              <textarea name="description" [(ngModel)]="event.description" type="text" rows="5" id="description" class="form-control" #description="ngModel" [ngClass]="{ 'is-invalid': eventCreateForm.submitted && description.invalid }" required></textarea>
              <div *ngIf="eventCreateForm.submitted && description.invalid" class="invalid-feedback">
                <div *ngIf="description?.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Crear</button>
      </form>
      <br>
      <div>
        <h5>Localidades</h5>
        <button type="button" class="btn btn-info btn-sm" (click)="addZone()">Insertar localidad</button>
        <div [formGroup]="zonesForm">
          <div formArrayName="zones" *ngFor="let zone of zones.controls; let i = index;">
            <div [formGroupName]="i">
              <div class="form-inline my-2">
                <div class="form-group">
                  <label class="col-form-label-sm">Nombre</label>
                  <input formControlName="name" class="form-control form-control-sm ml-2 mr-3" [ngClass]="{ 'is-invalid': eventCreateForm.submitted && zone.get('name').errors }">
                  <div *ngIf="eventCreateForm.submitted && zone.get('name').errors" class="invalid-feedback">
                    <div *ngIf="zone.get('name').errors.required"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label-sm ">Capacidad</label>
                  <input formControlName="seats" type="number" min="1" step="1" (change)="updateTotalSeats(i)" (focus)="updateFocusedSeatNumber(i)" placeholder="Número de sillas" class="form-control form-control-sm ml-2 mr-3" [ngClass]="{ 'is-invalid': eventCreateForm.submitted && zone.get('seats').errors }">
                  <div *ngIf="eventCreateForm.submitted && zone.get('seats').errors" class="invalid-feedback">
                    <div *ngIf="zone.get('seats').errors.required"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label-sm">Precio</label>
                  <div class="input-group input-group-sm ml-2 mr-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input formControlName="price" type="number" min="1" step="1"  class="form-control form-control-sm" [ngClass]="{ 'is-invalid': eventCreateForm.submitted && zone.get('price').errors }">
                    <div *ngIf="eventCreateForm.submitted && zone.get('price').errors" class="invalid-feedback">
                      <div *ngIf="zone.get('price').errors.required"></div>
                    </div>
                  </div>
                </div>
                <button *ngIf="i > 0" type="button" class="close" aria-label="Close" (click)="removeZone(i)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <p>Total de sillas: <strong>{{totalSeats}}</strong></p>
      </div>
    </div>
  </div>
</div>
